<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        {% for message in messages %}
            <div class="message">
                <p class="message">
                    <p class="user_name">
                        <span class="user_name">{{message.user}}</span>
                        ({{message.ts}})
                    </p>
                    <p class="text">{{message.text}}</p>
                    {% if not message.files is none %}
                        <p class="files">
                        {% for file in message.files %}
                            {% if file.url is none%}
                                <span class="file">{{file.name}}</span>
                            {% else %}
                                <span class="file">
                                    <a href="{{file.url}}" download="{{file.name}}" target="_blank">{{file.name}}</a>
                                </span>
                            {% endif %}
                        {% endfor %}
                        </p>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </body>
</html>
